.container {
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-color);
    border-radius: var(--border-radius);
    padding:var(--2-step);
    position: relative;
}

.container_label {
    color: var(--hint-color);
    font-size: 16px;
}

.info_div{
    justify-content: space-between;
    align-items: center;
    color: var(--hint-color);
    font-size: 14px;
}

.input_container {
    display: flex;
    margin-top: var(--step);
    justify-content: space-between;
}

.input_field {
    background-color: transparent;
    color: var(--text-color);
    font-size: 32px;
    outline: none;
    width: 69%;
    flex: 1;
    text-align: right;
}
.input_field::placeholder{
    color: var(--hint-color);
}

.input_overlay{   
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: text;
    background: transparent;
}

.span_field {
    display: inline-block;
    background-color: transparent;
    color: var(--text-color);
    font-size: 32px;
    outline: none;
    width: auto;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    min-width: 30px; 
}

.span_field:focus {
    outline: none;
}

.span_field:empty::before {
    content: '0';
    color: var(--hint-color);
}


.input_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: text;
  width: 69%; /* Any width required to make flex: 1 work*/
  flex: 1;
  overflow: hidden;
}

.input_info {
    display: flex;
    justify-content: space-between;
    margin-top: var(--step);
    color: var(--hint-color);
    white-space: nowrap;
}

.input_info_button {
    color: var(--button-color);
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 4px;

}

.input_info_balance {
    display: flex;
    align-items: center;
    margin-right: var(--step);
}

.loader_spinner {
    border: 2px solid var(--text-color);
    border-top: 2px solid var(--hint-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.empty_container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    margin-right: 4px;
}

.input_usd_balance{
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}