.container {
    display: flex;
    flex-direction: column;
    gap: var(--step);
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--2-step);
    position: relative;
}

.container_label {
    color: var(--hint-color);
    font-size: 14px;
}

.input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--2-step);
}

.input_field {
    background-color: transparent;
    color: var(--text-color);
    font-size: 36px;
    outline: none;
    flex: 1;
}

.input_field_error {
    color: var(--error-color);
}

.input_field::placeholder {
    color: var(--hint-color);
}

.input_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: text;
    background: transparent;
}

.span_field {
    display: inline-block;
    background-color: transparent;
    color: var(--text-color);
    font-size: 36px;
    outline: none;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 30px;
}

.span_pulsing {
    color: var(--hint-color);
    animation: pulse 0.8s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.span_field:focus {
    outline: none;
}

.span_field:empty::before {
    content: '0';
    color: var(--hint-color);
}

.input_wrapper {
    position: relative;
    display: flex;
    cursor: text;
    flex: 1;
    overflow: hidden;
}

.output_wrapper {
    cursor: default;
}

.input_info {
    display: flex;
    justify-content: space-between;
    color: var(--hint-color);
    white-space: nowrap;
    font-size: 14px;
}

.input_info_balance {
    display: flex;
    align-items: center;
}

.max_button {
    height: unset;
    padding: 2px var(--half-step);
    border-radius: var(--step);
    font-size: 12px;
    line-height: unset;
    margin-left: var(--half-step);
}

.input_usd_balance {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}