.modalButton {
    background: none;
    border: none;
    position: absolute; 
    top: 1px; 
    left: 1px;
}

.modalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
    height: 24px; 
}

.modalInput{
    border: none;
    background: var(--accent-light-grey-color);
    color: black;
    border-radius: 24px;
    padding: var(--default-size);
    margin: var(--default-size) 16px;
    margin-top: 16px;
    font-family: 'Basel-book', sans-serif;
}

.modalP{
    font-family: 'Basel-book', sans-serif;
}

.modalSheet{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.modalList{
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

@media (min-width: 900px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}


