.in_review {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--4-step);
    background-color: #FBE5B9;
    color: #9D502A;
    padding: 0 var(--2-step);
    border-radius: var(--2-step);
}
