.in_review {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    height: 28px;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    background: #FBE5B9;
    color: #9D502A;
    cursor: pointer;
}

.chevron_right {
    color: var(--text-color);
}