.container {
    position: relative;
    z-index: 11;
}

.menu_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backdrop-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 10;
}

.menu_backdrop.open {
    opacity: 1;
    visibility: visible;
}

.menu_content {
    position: absolute;
    top: var(--header-height);
    right: 0;
    display: grid;
    gap: var(--step);
    background-color: var(--secondary-bg-color);
    padding: var(--step);
    border-radius: 20px;
    box-shadow: 0 2px 2px black;
    transform: translateX(50vw);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;;
}

.container.open .menu_content {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.menu_button {
    min-width: max-content;
    justify-content: start !important;
}

.menu_button_icon {
    width: 18px;
    height: 18px;
    fill: var(--text-color);
    stroke: var(--text-color);
}
