.route {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: var(--step);
}

.dots {
    display: flex;
    overflow: hidden;
    word-wrap: break-word;
    color: var(--text-color);
    flex: 1;
    margin-bottom: 7px;
    letter-spacing: 5px;
}

.dots:after {
    content: '..................................................';
    color: var(--text-color);
    opacity: var(--text-opacity);
}


.route_info {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    flex-shrink: 0;
}

.route_info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.route_info :first-child {
    opacity: var(--text-opacity);
}

.route_info :last-child {
    color: var(--button-color);
}

.route > :first-child {
    margin-right: var(--step);
    align-items: flex-start;
}

.route > :last-child {
    margin-left: var(--step);
    align-items: flex-end;
}