.select_list_item_div {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: var(--step) var(--2-step);
}

.select_list_item_div:hover {
    background-color: var(--secondary-bg-color);
}

.selected {
    border-color: var(--button-color);
}

.select_list_item_wrapper {
    display: flex;
}

.img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}


.select_list_item_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_list_item_balance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px var(--step);
    border-radius: 16px;
}

.asset_symbol {
    font-size: 18px;
    color: var(--text-color);
}

.asset_name {
    font-size: 14px;
    color: var(--hint-color);
}

.coin_balance {
    font-size: 18px;
    color: var(--text-color);
}

.dollar_balance {
    font-size: 14px;
    color: var(--hint-color);
}

.select_list_item_header {
    display: flex;
    align-items: center;
}

.select_list_item_alert {
    padding: 2px 4px 2px 8px;
}
