.search_hint_text {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--hint-color);
}

.container {
    display: flex;
    gap: var(--2-step);
    cursor: pointer;
    align-items: center;
    padding: var(--step) var(--2-step);
}

.container:hover {
    background-color: var(--secondary-bg-color);
}

.img {
    width: var(--5-step);
    height: var(--5-step);
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}

.info_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info_container_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--step);
    overflow: hidden;
}

.asset_symbol {
    font-size: 18px;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.asset_name {
    font-size: 14px;
    color: var(--hint-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.coin_balance {
    font-size: 18px;
    color: var(--text-color);
}

.dollar_balance {
    font-size: 14px;
    color: var(--hint-color);
}
