.content_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--2-step);
    overflow-y: scroll;
}

.settings_icon {
    margin-left: var(--step);
    color: var(--hint-color);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.settings_icon:hover {
    color: var(--text-color);
}

.title {
    color: var(--text-color);
    font-size: 16px;
}

.description {
    color: var(--hint-color);
    font-size: 14px;
}

.main_button {
    margin-top: auto;
}