.swiper {
    width: 100%;
    height: calc(19 * var(--step));
    margin-bottom: var(--2-step);
    border-radius: var(--border-radius) !important;
}

.swiperSlide {
    box-sizing: border-box;
    padding: var(--2-step);
    border-radius: var(--border-radius);
}

.swiperSlideBlue {
    background: var(--attention-bg);
}

.swiperSlideGreen {
    background: rgba(var(--green-color), 0.25);
}
