.modalSheetContainer {
    min-width: var(--app-min-width);
    max-width: var(--app-max-width);
}

.p {
    margin-right: 4px;
}

.img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}


.selected_asset_button {
    align-items: center;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 24px;
    padding: 4px var(--step);
}