.modalSheetContainer {
    min-width: var(--app-min-width);
    max-width: var(--app-max-width);
}

.modalSheet{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.modalButton {
    background: none;
    border: none;
    position: absolute; 
    top: 1px; 
    left: 1px;
}

.modalSheet :global(.react-modal-sheet-container) {
    background: var(--bg-color) !important;
  }
  
  .modalSheet :global(.react-modal-sheet-backdrop) {
   background-color: var(--secondary-bg-color) !important;
   opacity: 0.7 !important;
  }
  
.modalDiv {
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%;
    height: var(--3-step);
}

.modalInputContainer {
    position: relative;
    margin: var(--step) var(--2-step);
    margin-top: var(--2-step);
  }
  
  .modalInput {
    border: none;
    background: var(--secondary-bg-color);
    color: var(--text-color);
    border-radius: var(--step);
    padding: var(--step) var(--2-step);
    padding-left: var(--4-step);
    font-size: var(--2-step);
    font-family: 'Basel-book', sans-serif;
    width: 100%;
  }

  .modalInput::placeholder {
    color: var(--hint-color);
  }
  
  .searchIcon {
    position: absolute;
    left: var(--step);
    top: 50%;
    transform: translateY(-50%);
    color: var(--hint-color);
  }
  
  .chevronIcon{
    color: var(--hint-color);
  }

.modalP{
    font-family: 'Basel-book', sans-serif;
    color: var(--text-color);
}

.modalList{
    margin-top: var(--step);
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.listWrapDiv{
    overflow-y: auto;
    overflow-x: hidden;
}

.p {
    margin-right: 4px;
}

.img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}


.selected_asset_button {
    align-items: center;
    color: var(--text-color);
    border-radius: 24px;
    font-size: var(--3-step);
}

.modalButtonConatiner{
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border: none;
    height: 15%;
    margin: 0 var(--2-step);
}

.modalButtonConatiner button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border: none;
    border-radius: var(--2-step);
    width: 100%;
    color: var(--text-color);
    font-size: var(--2-step);
    padding: var(--2-step) var(--3-step);   
}

.list{
    border-radius: var(--2-step);
    background-color: var(--secondary-bg-color);
    margin: var(--step) var(--2-step);
}

@media (min-width: 530px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

@media (min-width: 768px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

@media (min-width: 900px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
}

@media (min-width: 1500px) {
    .modalSheet{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}