.exchange_info_div{
    justify-content: space-between;
    align-items: center;
    margin-top: var(--step);
    padding: var(--step);
    font-family: 'Basel-book', sans-serif;
}

.gas_info_div{
    align-items: center;
    color: var(--accent-dark-grey-color);
}

.gas_info_div_p{
    margin-left: 4px;
}
