.body_div { 
    flex-direction: column; 
    position: relative; 
    margin-top: 48px; 
    margin-bottom: var(--step); 
    flex: 1;
 }


 
 .body_button {
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: var(--step);
    margin-bottom: var(--step);
    font-size: 16px;
    border: none;
    border-radius: 16px;
    font-family: 'Basel-book', sans-serif;
    background-color: var(--button-color);
    color: var(--button-text-color);
    position: fixed;
    bottom: 0;
    left: 50%;
    min-width: var(--app-min-width);
    max-width: var(--app-max-width);
    width: calc(100% - 2 * var(--2-step));
    transform: translateX(-50%);
  }