.body_div {
    display: flex;
    flex-direction: column;
    margin: var(--2-step);
}

.input_asset_container {
    position: relative;
    margin-bottom: var(--step);
}

.output_asset_container {
    position: relative;
    margin-bottom: var(--2-step);
}

.swapform_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--2-step);
    margin-bottom: var(--step);
    color: var(--text-color);
    font-size: 22px;
} 