.body_div {
    flex-direction: column;
    position: relative;
    margin-top: 48px;
}

.body_button {
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    font-family: 'Basel-book', sans-serif;
    background-color: var(--button-color);
    color: var(--button-text-color);
}
