.route_step_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border-radius: var(--step);
  padding: 8px 4px;
}

.route_step_direction_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.route_step_direction_div img {
  width: 24px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
}

.route_step_direction_div :first-child {
  margin-right: 4px;
}

.route_step_direction_div :last-child {
  margin-left: -7%;
}