.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(62, 136, 247, 0.2);
    border-radius: var(--border-radius);
    margin-bottom: var(--2-step);
    padding: var(--2-step);
}

.inner_container {
    display: flex;
}

.animation_container {
    width: 100px;
}

.title {
    font-size: 20px;
    color: var(--text-color);
}

.list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message_container {
    display: flex;
    align-items: center;
    margin-left: var(--step);
    margin-top: var(--step);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message {
    width: var(--2-step);
    font-size: 16px;
    color: var(--text-color);
}

.button {
    margin-left: var(--step);
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: var(--4-step);
    padding: var(--half-step) var(--2-step);
    cursor: pointer;
}