.error_text {
    color: var(--error-color);
}

.attention_text {
    color: rgba(var(--danger-color));
}

.rate_text {
    cursor: pointer;
    color: var(--text-color);
}

.usd_text {
    color: var(--hint-color);
}
