.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--2-step);
    background: rgba(var(--danger-color), 0.1);
    border-radius: var(--border-radius);
    margin-bottom: var(--2-step);
    padding: var(--2-step);
}

.duck_alert_fallback {
    width: 22%;
    aspect-ratio: 1 / 1;
}

.title {
    font-size: 26px;
    color: rgb(var(--danger-color));
}

.list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    font-size: 14px;
    color: rgb(var(--danger-color));
    max-width: 215px;
}