.body_div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 48px;
    padding-left: 4px;
    padding-right: 4px;
}

.body_button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    font-family: 'Basel-book', sans-serif;
}

.route_info_div{
    background-color: var(--accent-light-black-color);
    border-radius: var(--default-size);
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-family: 'Basel-book', sans-serif;
}

.route_info_inside_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.route_info_inside_div p{
    font-size: 16px;
    color: var(--accent-dark-grey-color)
}

.route_info_inside_div div{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.connect_button{
    background: var(--accent-dark-pink-color);
    color: var(--accent-neon-pink-color);
}

.swap_button{
    background: var(--accent-neon-pink-color);
    color: white;
}

.select_button{
    background: var(--accent-black-color);
    color: var(--accent-dark-grey-color);
}

@media (min-width: 768px) {
    .body_div{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .body_button{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .route_info_div{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

@media (min-width: 900px) {
    .body_div{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
    .body_button{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    .route_info_div{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .body_div{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    .body_button{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

    .route_info_div{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
}