.body-div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 48px;
    padding-left: 4px;
    padding-right: 4px;
}

.body-button{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    font-family: 'Basel-book', sans-serif;
}
.body-connect-button{
    background: var(--accent-dark-pink-color);
    color: var(--accent-neon-pink-color);
}

.body-swap-button{
    background: var(--accent-neon-pink-color);
    color: white;
}

.body-select-button{
    background: var(--accent-black-color);
    color: var(--accent-dark-grey-color);
}