.container {
    display: flex;
    flex-direction: column;
    background: rgba(var(--danger-color), 0.1);
    border-radius: var(--border-radius);
    margin-bottom: var(--2-step);
    padding: var(--2-step);
    font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_text_container {
    display: flex;
    align-items: center;
}

.header_text {
    margin-left: var(--step);
    font-family: 'Basel', sans-serif;
    color: rgba(var(--danger-color));
}

.chevron {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.chevron.open {
    transform: rotate(180deg);
}

.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.content.open {
    max-height: 200px;
    opacity: 1;
    padding-top: var(--2-step);
}

.text {
    opacity: var(--text-opacity);
}
