.exchange-info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--default-size);
    padding: var(--default-size);
    font-family: 'Basel-book', sans-serif;
}

.gas-info-div{
    display: flex;
    align-items: center;
    color: var(--accent-dark-grey-color);
}

.gas-info-div p{
    margin-left: 4px;
}