.button_container {
    position: absolute;
    top: 50%;
    left: 110px;
    width: 75px;
    height: 75px;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    padding: 1px;
    margin-right: var(--step);
    border-radius: 50%;
    background: linear-gradient(
            90deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%
    );
    background-size: 200% 200%;
    animation: anim 6s linear infinite;
}

.button_text_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    line-height: 0.85;
    transform: rotate(-13deg);
    z-index: 1;

    margin: 1px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.button_text_1 {
    font-size: 12px;
}

.button_text_2 {
    font-size: 20px;
    margin: 2px 0;
}

.button_text_3 {
    font-size: 11px;
}

@keyframes anim {
    100% {
        background-position-x: -200%;
    }
}
