.skeleton_loading {
    background: linear-gradient(90deg, var(--border-color) 25%, var(--spinner-color-empty-area) 50%, var(--border-color) 75%);
    border-radius: 999999px;
    background-size: 200% 100%;
    animation: skeleton-loading 3s infinite;
}

.skeleton_loading * {
    opacity: 0;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

