.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin: 24px 0 48px;
    color: var(--hint-color);
    font-family: 'Basel', sans-serif;
}

.duck_alert_fallback {
    width: 171px;
    height: 176px;

    margin-bottom: var(--2-step);
}
