.noResultDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-top: 48px;
    color: var(--hint-color);
    font-family: 'Basel', sans-serif;
}

.duck_not_found_fallback {
    width: 187px;
    height: 192px;

    margin-bottom: var(--2-step);
}
