.noResultDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-top: 48px;
    color: var(--hint-color);
}

.duck_not_found_fallback {
    width: 30%;
    aspect-ratio: 1 / 1;

    margin-bottom: var(--2-step);
}
