.noResultDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--2-step);
    margin-top: 48px;
    color: var(--hint-color);
    font-family: 'Basel', sans-serif;
}

.animation_container {
    width: 50%;

    margin-bottom: var(--2-step);
}
