.route_info_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    margin-bottom: var(--2-step);
    padding: var(--2-step);
    font-size: 15px;
}

.fee_text {
    color: var(--text-color);
}

.value_text {
    text-align: end;
}

.rate_text {
    cursor: pointer;
}

.crossed_out {
    text-decoration: line-through;
}

.route_info_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--2-step);
}

.route_info_header_logo {
    fill: var(--text-color);
}

.route_info_header_text {
    margin-left: var(--step);
    font-family: 'Basel', sans-serif;
}

.route_info_inside_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--step);
    opacity: var(--text-opacity);
    color: var(--hint-color);
}

.route_info_inside_div_big {
    color: var(--text-color);
}

.asset_image {
    margin-left: var(--step);
    width: var(--3-step);
    height: var(--3-step);
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}

.routes_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.route_info_inside_div div {
    display: flex;
    align-items: center;
}

.loader_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loader_overlay.show {
    opacity: 1;
    visibility: visible;
}

.loader_spinner {
    border: 4px solid var(--spinner-color-empty-area);
    border-top: 4px solid var(--spinner-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}