.container {
    padding: 2px;
    margin-right: var(--step);
    border-radius: var(--step);
    background: linear-gradient(
            90deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%
    );
    background-size: 200% 200%;
    animation: anim 6s linear infinite;
    cursor: pointer;
}

.container_body {
    padding: 4px;
    border-radius: 6px;
    background-color: var(--bg-color);
}

.text {
    font-size: 12px;
    color: var(--text-color);
}

@keyframes anim {
    100% {
        background-position-x: -200%;
    }
}