.container {
    padding: 2px;
    margin-right: var(--step);
    border-radius: 20px;
    background: linear-gradient(
            90deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%
    );
    background-size: 200% 200%;
    animation: anim 6s linear infinite;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container_body {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--bg-color);
}

.text {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes anim {
    100% {
        background-position-x: -200%;
    }
}