.container {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--step);
    flex-direction: column;
    background: rgba(255, 91, 0, 0.1);
    border: none;
    border-radius: var(--border-radius);
    margin-bottom: var(--step);
    padding: var(--2-step);
    font-family: 'Basel-book', sans-serif;
    font-size: 16px;
}

.header_text {
    color: var(--text-color);
    font-weight: 600;
}

.text {
    color: var(--hint-color);
    font-weight: 400;
}
