.connect_button{
    background: var(--accent-dark-pink-color);
    color: var(--accent-neon-pink-color);
    border: none;
    border-radius: 24px;
    padding: var(--default-size) 16px;
    margin: var(--default-size);
    font-family: 'Basel-book', sans-serif;
  }
  
.disconnect_button{
    background: var(--accent-neon-pink-color);
    color: var(--accent-dark-pink-color);
    border-radius: 24px;
    border: none;
    padding: var(--default-size) 16px;
    margin: var(--default-size);
    font-family: 'Basel-book', sans-serif;
}

.dropdown {
    position: relative;
    display: flex;
  }

.dropdown_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-right: 8px;
    background-color: var(--accent-light-black-color);
    min-width: 160px;
    border-color: var(--accent-light-black-color);
    z-index: 10;
    right: 0;
    top: 110%;
    padding: 12px;
    border-radius: 16px;
  }

.dropdown_button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 24px;
    margin-top: 8px;
    cursor: pointer;
  }

.dropdown_disconnect_button {
    background: var(--accent-neon-pink-color);
    color: var(--accent-dark-pink-color);
}

.dropdown_explore_button {
    border: 1px solid;
    border-color: black;
    background: none;
}

.dropdown_explore_button a{
    text-decoration: none;
    color: white;
}

.logo_div{
    display: flex;
    align-items: center;
}

.header_logo{
    width: 100px;
    margin: var(--default-size);
}

.header_triangle_logo{
    width: 50px;
    height: 50px;   
}

.header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--default-size);
}