.connect_button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--4-step);
    padding: var(--step) var(--2-step);
    font-family: 'Basel-book', sans-serif;
}

.disconnect_button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: var(--4-step);
    border: none;
    padding: var(--step) var(--2-step);
    font-family: 'Basel-book', sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown_content {
    display: grid !important;
    gap: var(--step);
    position: absolute;
    background-color: var(--accent-light-black-color);
    min-width: calc(20 * var(--step));
    border-color: var(--accent-light-black-color);
    z-index: 10;
    right: 0;
    top: 120%;
    padding: var(--step);
    border-radius: var(--2-step);
}

.dropdown_button {
    justify-content: center;
    padding: var(--step);
    border: none;
    border-radius: var(--3-step);
    cursor: pointer;
}

.dropdown_disconnect_button {
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.dropdown_explore_button {
    border: 1px solid;
    border-color: var(--button-color);
    background: none;
}

.dropdown_explore_button a {
    text-decoration: none;
    color: white;
}

.logo_div {
    align-items: center;
}

.header_logo {
    width: calc(8 * var(--step));
    margin: var(--step);
}

.header_triangle_logo {
    width: calc(4 * var(--step));
}

.header_div {
    justify-content: space-between;
    align-items: center;
}