.connect_button {
    background-color: var(--button-color);
    font-size: 13px;
    color: var(--button-text-color);
    cursor: pointer;
    border-radius: var(--4-step);
    padding: var(--step) var(--2-step);
}

.left_div {
    display: flex;
    align-items: center;
    margin-right: var(--step);
}

.right_div {
    display: flex;
    align-items: center;
    overflow: hidden;
}
  
.logo_text path {
    fill: var(--text-color);
}

.header_triangle_logo {
    width: calc(4 * var(--step));
}