.modal_backdrop {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--backdrop-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.header_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.xIcon {
    cursor: pointer;
    color: var(--text-color);
}

.modal_backdrop.open {
    opacity: 1;
    visibility: visible;
}

.modal_content {
    height: calc(100vh - 60px - var(--app-safe-area-inset-top));
    display: flex;
    flex-direction: column;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--bg-color);
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.modal_backdrop.open .modal_content {
    transform: translateY(0);
}

.modal_backdrop.close .modal_content {
    transform: translateY(100%);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--2-step);
}

.empty_container {
    width: 32px;
}

.header_text {
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
}
