.loader_spinner {
    border: 2px solid rgba(var(--attention-color), 0.3);
    border-top: 2px solid var(--button-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}