.container {
  flex-direction: column;
  justify-content: center;
  background-color: var(--accent-black-color);
  border-radius: var(--step);
  padding: 24px;
  margin-bottom: 4px;
  position: relative;
  font-family: 'Basel-book', sans-serif;
}

.container_label{
  color: var(--accent-dark-grey-color);
  font-size: 16px;
}

.input_container{
  margin-top: var(--step);
  justify-content: space-between;
}

.input_field {
  border: none;
  background-color: transparent;
  color: var(--accent-dark-grey-color);
  font-size: 32px;
  outline: none;
  width: 69%; /* Any width required to make flex: 1 work*/
  flex: 1;
}

.input_info{
  margin-top: var(--step);
  justify-content: space-between;
  color: var(--accent-dark-grey-color);
}

.input_info_button{
  color: #FC72FF;
  background: none;
  font-size: 16px;
  margin-left: 4px;
  border: none;
  font-family: 'Basel-book', sans-serif;
  
}
.input_info_balance{
  align-items: center;
}
.input_field:not(:placeholder-shown) {
  color: white;
}
