.container {
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-color);
    border-radius: var(--border-radius);
    padding:var(--2-step);
    margin-bottom: var(--step);
    position: relative;
    font-family: 'Basel-book', sans-serif;
}

.container_label {
    color: var(--hint-color);
    font-size: 16px;
}

.info_div{
    justify-content: space-between;
    align-items: center;
    color: var(--hint-color);
    font-size: 14px;
}

.input_container {
    display: flex;
    margin-top: var(--step);
    justify-content: space-between;
}

.input_field {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 32px;
    outline: none;
    width: 69%; /* Any width required to make flex: 1 work*/
    flex: 1;
    text-align: right;
}

.input_info {
    display: flex;
    justify-content: space-between;
    margin-top: var(--step);
    color: var(--hint-color);
}

.input_info_button {
    color: var(--button-color);
    background: none;
    font-size: 16px;
    margin-left: 4px;
    border: none;
    font-family: 'Basel-book', sans-serif;

}

.input_info_balance {
    display: flex;
    align-items: center;
}
