.container {
  display: flex;
  height: 130px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--accent-black-color);
  border-radius: var(--default-size);
  padding: 24px;
  margin-bottom: 4px;
  position: relative;
  font-family: 'Basel-book', sans-serif;
}

.container_label{
  color: var(--accent-dark-grey-color);
  font-size: 16px;
}

.input_container{
  display: flex;
  margin-top: var(--default-size);
  justify-content: space-between;
}

.input_field {
  border: none;
  background-color: transparent;
  color: var(--accent-dark-grey-color);
  font-size: 32px;
  width: 60%;
  outline: none;
}

.input_info{
  display: flex;
  margin-top: var(--default-size);
  justify-content: space-between;
  color: var(--accent-dark-grey-color);
}

.input_info_button{
  display: flex;
  color: #FC72FF;
  background: none;
  font-size: 16px;
  margin-left: 4px;
  border: none;
  font-family: 'Basel-book', sans-serif;
  
}
.input_info_balance{
  display: flex;
  align-items: center;
}
.input_field:not(:placeholder-shown) {
  color: white;
}

@media (min-width: 300px) {
  .input_field{
      width: 50%;
  }
}

@media (min-width: 400px) {
  .input_field{
      width: 60%;
  }
}

@media (min-width: 500px) {
  .input_field{
      width: 70%;
  }
}

@media (min-width: 768px) {
  .input_field{
      width: 65%;
  }
}

@media (min-width: 900px) {
  .input_field{
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .input_field{
      width: 65%;
  }
}

@media (min-width: 1500px) {
  .input_field{
      width: 70%;
  }
}