.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--accent-black-color);
  border-radius: var(--default-size);
  padding: 24px;
  margin-bottom: 4px;
  position: relative;
  font-family: 'Basel-book', sans-serif;
}

.container-label{
  color: var(--accent-dark-grey-color);
  font-size: 16px;
}

.input-container{
  display: flex;
  margin-top: var(--default-size);
  justify-content: space-between;
}

.input-field {
  border: none;
  background-color: transparent;
  color: var(--accent-dark-grey-color);
  font-size: 32px;
  width: 192px;
  outline: none;
}

.input-info{
  display: flex;
  margin-top: var(--default-size);
  justify-content: space-between;
  color: var(--accent-dark-grey-color);
}

.input-info button{
  color: #FC72FF;
  background: none;
  font-size: 16px;
  border: none;
}
.input-info-balance{
  display: flex;
  align-items: center;
}
.input-field:not(:placeholder-shown) {
  color: white;
}