.container {
    margin-top: auto;
}

.inner_container {
    display: flex;
    flex-direction: column;
    gap: var(--step);
    padding: var(--step);
    color: var(--hint-color);
}

.container_row {
    display: flex;
}

.container_column {
    display: flex;
    flex-direction: column;
    gap: var(--half-step);
}

.container_icon {
    display: flex;
    align-items: center;
    gap: var(--half-step);
    padding: var(--step);
    font-size: 14px;
}

.container_a {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.container_a:-webkit-any-link {
    color: var(--hint-color);
}

.container_a:visited {
    color: var(--hint-color);
}

.container_a:hover {
    color: var(--text-color);
}

.support_button {
    margin-left: auto;
}

.copyright_text {
    font-size: 10px;
    margin: 0 auto;
}
