.button {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: var(--2-step);
    padding-bottom: var(--2-step);
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 15px;
    font-weight: 600;
}
