.replacement {
    height: 56px;
    padding-top: var(--safe-area-inset-top);
}

.container {
    height: 56px;
    padding-top: var(--safe-area-inset-top);
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

.inner_container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: var(--step);
}