.route_info_div {
    background-color: var(--secondary-bg-color);
    border-radius: var(--step);
    flex-direction: column;
    padding: 16px;
    font-family: 'Basel-book', sans-serif;
}

.route_info_inside_div {
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.route_info_inside_div p {
    font-size: 16px;
    color: var(--hint-color)
}

.route_info_inside_div div {
    align-items: center;
    margin-top: 0px;
}
