.route_info_wrapper{
    margin-bottom: calc(51px + var(--iphone-bottom-line));
    flex-direction: column;
}

.route_info_div {
    border-radius: var(--step);
    flex-direction: column;
    font-family: 'Basel-book', sans-serif;
}

.route_info_inside_div {
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.routes_container{
    flex-direction: column;
    margin-top: var(--default-size);
    justify-content: space-evenly;
}

.route_info_inside_div p {
    font-size: 16px;
    color: var(--hint-color)
}

.route_info_inside_div div {
    align-items: center;
    margin-top: 0px;
}
