.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--2-step);
}

.image {
    width: 44px;
    height: 44px;
    border-radius: var(--step);
    margin-right: var(--step);
}

.name {
    font-size: 22px;
    color: var(--text-color);
}