.currency-selector-button {
    height: 32px;
    width: 32px;
    background-color: #1B1B1B;
    border-radius: 8px;
    color:white;
    border: 4px solid;
    border-color: #131313;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }