*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: white;
  color: black;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}