* {
    border: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Basel', sans-serif;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

html {
    height: -webkit-fill-available;
    overflow-y: initial;
    overscroll-behavior-x: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar-track {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    touch-action: pan-x pan-y;
    overscroll-behavior-x: none;
    background: var(--bg-color);
    color: var(--text-color);
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

[data-tc-wallets-modal-container="true"] {
    background-color: var(--backdrop-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--backdrop-color) transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--backdrop-color);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

@media (max-width: 440px) {
    [data-tc-actions-modal-container="true"] > div > div {
        border-radius: 24px 24px 0px 0px;
    }
}

@font-face {
    font-family: 'Basel';
    src: url('./assets/fonts/sf-pro-text-regular-webfont.woff2') format("woff2"), url('./assets/fonts/sf-pro-text-regular-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #000000;
    --text-color: #f6f6f6;
    --hint-color: #96969d;
    --button-color: #3e88f7;
    --button-text-color: #f6f6f6;
    --secondary-bg-color: #0f0f0f;
    --header-bg-color: #1c1c1d;
    --border-color: rgba(255, 255, 255, 0.12);

    --attention-color: 62, 136, 247;
    --attention-bg: rgba(var(--attention-color), 0.25);
    --danger-color: 255, 91, 0;
    --backdrop-color: rgba(70, 70, 70, 0.7);
    --text-opacity: 0.8;
    --spinner-color-empty-area: rgba(255, 255, 255, 0.3);
    --spinner-color: #fff;
    --error-color: #FF5F52;
    --green-color: 52, 164, 78;
    --purple-color: 158, 109, 247;

    --step: 8px;
    --half-step: calc(0.5 * var(--step));
    --2-step: calc(2 * var(--step));
    --3-step: calc(3 * var(--step));
    --4-step: calc(4 * var(--step));
    --5-step: calc(5 * var(--step));

    --header-height: 50px;
    --border-radius: calc(1.5 * var(--step));

    --app-min-width: 320px;
    --app-max-width: 480px;

    --app-safe-area-inset-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px));
}

:root[data-theme='light'] {
    --bg-color: #f6f6f6;
    --text-color: #090909;
    --hint-color: #8a8a8d;
    --secondary-bg-color: #ffffff;
    --header-bg-color: #ffffff;
    --border-color: rgba(34, 34, 34, 0.05);

    --attention-bg: rgba(var(--attention-color), 0.15);
}