* {
    margin: 0;
    padding: 0;
}

body {
    padding: var(--2-step);
    background: var(--bg-color);
    color: white;
}

div:not(#tc-widget-root div) {
    display: flex;
}

button:not(#tc-widget-root button) {
    display: flex;
}

#root {
    justify-content: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

@font-face {
    font-family: 'Basel';
    src: url('./assets/fonts/Basel-Grotesk-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Basel-book';
    src: url('./assets/fonts/Basel-Grotesk-Book.woff2') format('woff2');
}


:root {
    --background-color: #131313;
    --accent-black-color: #1B1B1B;
    --accent-light-black-color: #222222;
    --accent-light-grey-color: #F9F9FB;
    --accent-dark-grey-color: #97979F;
    --accent-neon-pink-color: #FC72F9;
    --accent-dark-pink-color: #311C2D;

    --bg-color: var(--tg-theme-bg-color, #000000);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color, #1c1c1d);
    --text-color: var(--tg-theme-text-color, #ffffff);
    --section-bg-color: var(--tg-theme-section-bg-color, #2c2c2e);
    --section-text-color: var(--tg-theme-section-header-text-color, #8d8e93);
    --button-color: var(--tg-theme-button-color, #3e88f7);
    --button-text-color: var(--tg-theme-button-text-color, #ffffff);


    --step: 8px;
    --2-step: calc(2 * var(--step));
    --3-step: calc(3 * var(--step));
    --4-step: calc(4 * var(--step));

    --app-min-width: 320px;
    --app-max-width: 540px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

