.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--2-step);
    cursor: pointer;
}

.image {
    width: 44px;
    height: 44px;
    border-radius: var(--step);
    margin-right: var(--step);
}

.title {
    font-size: 14px;
    color: var(--text-color);
}

.description {
    font-size: 14px;
    color: var(--button-color);
}

.childrenContainer {
    display: flex;
    margin-left: auto;
}