.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--2-step);
    cursor: pointer;
}

.image {
    width: 48px;
    height: 48px;
    border-radius: var(--step);
    margin-right: var(--step);
}

.title {
    font-size: 15px;
    color: var(--text-color);
    line-height: 16px;
}

.description {
    font-size: 15px;
    color: var(--button-color);
    line-height: 16px;
}

.childrenContainer {
    display: flex;
    margin-left: auto;
}