.select_list_item_div {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    font-family: 'Basel-book', sans-serif;
    padding: var(--step) var(--2-step);
}

.selected{
    border: 1px solid var(--button-color);
}

.img {
    width: 40px;
    height: 40px;
    margin-right: var(--step);
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
}


.select_list_item_info {
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
}

.select_list_item_balance {
    flex-direction: column;
    align-items: flex-end;
    padding: 4px var(--step);
    border-radius: 16px;
}

.coin_balance{
    font-size: var(--2-step);
    color: var(--text-color);
}

.dollar_balance{
    font-size: 12px;
    color: var(--hint-color);
}

.select_list_item_ccy {
    color: var(--text-color);
}

.select_list_item_qty {
    color: var(--hint-color);
}