.title {
    font-size: 24px;
    color: var(--text-color);
    border-top: 1px solid var(--secondary-bg-color);
    padding: var(--step) 0;
    margin: var(--step) 0;
}

.invite_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--4-step);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 0 var(--2-step);
    border-radius: var(--2-step);
}
