.title {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: var(--2-step);
}

.invite_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--4-step);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 0 var(--2-step);
    border-radius: var(--2-step);
}
